.chat-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  margin-bottom: 5px;
}

.chat-icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-icon svg {
  width: 100%;
  height: 100%;
}

.chat-menu-item .chat-icon,
.chat-menu-item .chat-label {
  color: #333;
  transition: color 0.3s ease;
}

.chat-menu-item:hover {
  background-color: #DEDEDE;
}

.chat-menu-item:hover .chat-icon,
.chat-menu-item:hover .chat-label {
  color: #000;
}

.chat-menu-item.active {
  background-color: #DEDEDE;
}

.chat-menu-item.active .chat-icon,
.chat-menu-item.active .chat-label {
  color: #000000;
}

.chat-menu-item.active:hover {
  background-color: #DEDEDE;
}

.chat-menu-item.active:hover .chat-icon,
.chat-menu-item.active:hover .chat-label {
  color: #000000;
}

.settings-container {
  padding: 10px 15px;
}

.chat-progress {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #5b5b5b;
  width: '100%';
  max-width: 100%;
  margin: 0 auto;
}

.chat-progress strong {
  font-weight: 500;
  color: #2e2e2e;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.chat-progress span {
  font-size: 14px;
  color: #777;
}


.chat-chart {
  width: 100%;
  padding: 15px;
  background-color: #EEEEEE;
  border-radius: 5px;
  margin: 15px 0;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-chart h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.add_bookmark_icon svg {
  color: #000000;
  transition: color 0.3s ease;
  stroke: #000000;
  fill: #EEEEEE;
  transition: stroke 0.3s ease;
}

.remove_bookmark_icon svg {
  color: #666666;
  transition: color 0.3s ease;
  stroke: #666666;
  fill: #666666;
  cursor: pointer;
  transition: stroke 0.3s ease;
}

.delete_icon svg {
  color: #000000;
  transition: color 0.3s ease;
  stroke: #000000;
  transition: stroke 0.3s ease;
  height: 15px;
  width: 15px;
}

.delete_icon:hover svg {
  color: #C30E2E;
  stroke: #C30E2E;
  cursor: pointer;
}

.msgsend_icon svg {
  color: #000000;
  transition: color 0.3s ease;
  stroke: #000000;
  border-radius: 5px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.chart-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.chart-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}